/* FAQ */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins';
    background-color: #f6f7f8;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
  }
  
  details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 15px;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(77, 77, 77, 0.137);
  }
  
  details p {
    color: #96999d;
    font-weight: 300;
  }
  
  summary {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    fill:#247BA0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }

  .space{
      height: 200px;
      width: 100%;
  }


  /* animações */

@keyframes fadeInUp {
    from {
      -webkit-transform: translate3d(0, 40px, 0);
              transform: translate3d(0, 40px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
      -webkit-transform: translate3d(0, 40px, 0);
              transform: translate3d(0, 40px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}
  
.animatedFadeInUp {
    opacity: 0;
}
  
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #f6f7f8;
}

body::-webkit-scrollbar-thumb {
    background: #247BA0;
}


  